@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

* {
  transition: opacity 0.4s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Lato';
  background-color: #fafafa;
  outline: 0;
  color: #444444;
  letter-spacing: 0.5px;
}
